Repository granade-io/pluscoder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare, create_wheel, test, docker-build, release

prepare:
  image: node:latest
  stage: prepare
  before_script:
  - apt-get update && apt-get install -y --no-install-recommends git-core ca-certificates
  - npm install -g semantic-release @semantic-release/gitlab @semantic-release/git @semantic-release/changelog
  script:
  - '# (...)
  
    set +e
  
  ...

create_wheel:
  image: python:3.12
  stage: build-wheel
  script:
  - pip wheel tree-sitter-language-pack==0.2.0 --wheel-dir ./wheels
  artifacts:
    paths:
    - ./wheels/*.whl
    expire_in: 4 week
  cache:
    key:
      files:
      - requirements.txt
    paths:
    - ./wheels
    - $PIP_CACHE_DIR
    policy: pull-push

test:
  image: python:3.12
  stage: test
  cache:
    key:
      files:
      - requirements.txt
    paths:
    - ./wheels
    - $PIP_CACHE_DIR
    policy: pull
  before_script:
  - python --version
  - pip install --upgrade pip
  - pip install --no-index --find-links=./wheels tree-sitter-language-pack==0.2.0
  ...

docker-build:
  stage: docker-build-push
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --build-arg WHEELS_DIR=./wheels -t $CI_REGISTRY_IMAGE:$NEXT_VERSION -t $CI_REGISTRY_IMAGE:latest .
  ...

release:
  image: node:latest
  variables:
    PYPI_TOKEN: ${CI_JOB_TOKEN}
    PYPI_USERNAME: gitlab-ci-token
    PYPI_REPO_URL: ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi
  stage: release
  before_script:
  - apt-get update && apt-get install -y --no-install-recommends git-core ca-certificates
  ...

fix .gitlab ci syntax
  .gitlab-ci.yml
Due: none

mock commit to force docker build
  Dockerfile
Due: prepare, docker-build

fix missing env artifact
  .gitlab-ci.yml
  Dockerfile
Due: prepare, docker-build

fix ci rules
  .gitlab-ci.yml
  Dockerfile
Due: prepare, docker-build

fix dockerfile to install pluscoder
  Dockerfile
Due: prepare, docker-build

fix dockerfile
  Dockerfile
Due: prepare, docker-build

feat: start up message to display current number of tracked and ignored git files
  pluscoder/main.py
Due: prepare, create_wheel, test, docker-build, release

chore: docker build only in main branch
  .gitlab-ci.yml
Due: none

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
Due: none

feat: agents can now download files and add context use entire context. Recommended for .md and raw text files only
  README.md
  pluscoder/agents/core.py
  pluscoder/tools.py
Due: prepare, create_wheel, test, docker-build, release

chore: config singleton replaced by pydantic settings
  pluscoder/config.py
  requirements.txt
  tests/test_config.py
Due: prepare, create_wheel, test, docker-build, release

feat: new configuration setup when running Pluscoder by the first time to customize behaviour
  PROJECT_OVERVIEW.md
  README.md
  pluscoder/config.py
  pluscoder/io_utils.py
  pluscoder/setup.py
Due: prepare, create_wheel, test, docker-build, release

feat: added documentation link at startup
  ROADMAP.md
  pluscoder/main.py
  pluscoder/model.py
Due: prepare, create_wheel, test, docker-build, release

feat: added new .pluscoder-config.yml settings file to work along cmd args and env vars
  .pluscoder-config.yml
  README.md
  pluscoder/config.py
  tests/test_config.py
Due: prepare, create_wheel, test, docker-build, release

feat: added new custom prompt command (/custom) to pre-define custom repetitive instructions to pass to agents
  README.md
  ROADMAP.md
  pluscoder/commands.py
  pluscoder/config.py
  pluscoder/io_utils.py
Due: prepare, create_wheel, test, docker-build, release

fix: exception when passing empty promopt command to /custom
  pluscoder/agents/prompts.py
  pluscoder/commands.py
Due: prepare, create_wheel, test, docker-build, release

feat: add --read_only config to disable file editions keepping assistance
  README.md
  pluscoder/agents/base.py
  pluscoder/agents/core.py
  pluscoder/agents/orchestrator.py
  pluscoder/agents/prompts.py
  pluscoder/config.py
  pluscoder/io_utils.py
  pluscoder/main.py
Due: prepare, create_wheel, test, docker-build, release

fix: /config command fixed after refactor to pydantic settings
  pluscoder/commands.py
Due: prepare, create_wheel, test, docker-build, release

BREAKING: removed repomap to reduce project size due is not being available for many popular languages
  Dockerfile
  pluscoder/main.py
  pluscoder/repo.py
  pluscoder/setup.py
  requirements.txt
Due: prepare, create_wheel, test, docker-build, release

chore: improved agent prompt input and added graceful exit when using ctrlc+
  pluscoder/commands.py
  pluscoder/main.py
Due: prepare, create_wheel, test, docker-build, release

chore: moved all pluscoder files into a folder
  pluscoder/agents/orchestrator.py
  pluscoder/agents/prompts.py
  pluscoder/io_utils.py
  pluscoder/logs.py
  pluscoder/repo.py
Due: prepare, create_wheel, test, docker-build, release

feat: now orchestrator can delegate multi-modal inputs and resources using paths and links references
  .gitignore
  pluscoder/agents/base.py
  pluscoder/agents/orchestrator.py
  pluscoder/commands.py
  pluscoder/io_utils.py
  pluscoder/message_utils.py
  pluscoder/setup.py
  pluscoder/tools.py
  pluscoder/type.py
  pluscoder/workflow.py
  tests/test_agents/test_base.py
  tests/test_agents/test_orchestrator.py
  tests/test_image_handling.py
Due: prepare, create_wheel, test, docker-build, release

fix: config singleton references and inferred model display message
  pluscoder/config.py
  pluscoder/main.py
  pluscoder/model.py
Due: prepare, create_wheel, test, docker-build, release

chore: added pluscoder config files
  .pluscoder-config-example.yml
Due: none

chore: update initialization process
  .gitignore
  pluscoder/repo.py
  pluscoder/setup.py
  tests/test_repo.py
Due: prepare, create_wheel, test, docker-build, release

feat: added new --orchestrator-model and --weak-model model and provider configs
  .pluscoder-config-example.yml
  .pluscoder-config.yml
  README.md
  pluscoder/config.py
  pluscoder/main.py
  pluscoder/model.py
  pluscoder/workflow.py
Due: prepare, create_wheel, test, docker-build, release

feat: added system reminder after each user message to improve llm output consistency
  pluscoder/agents/base.py
  pluscoder/agents/prompts.py
Due: prepare, create_wheel, test, docker-build, release

feat: new warning message at start up when test/lint is configured but failing to pass to warn about potential errors on file editions
  pluscoder/main.py
  pluscoder/repo.py
Due: prepare, create_wheel, test, docker-build, release

chore: now io fetch file paths when streaming code editions
  pluscoder/agents/prompts.py
  pluscoder/io_utils.py
Due: prepare, create_wheel, test, docker-build, release

feat: display code blocks as unified diffs, updated prompts for output consistency
  pluscoder/agents/prompts.py
  pluscoder/config.py
  pluscoder/display_utils.py
  pluscoder/fs.py
  pluscoder/io_utils.py
Due: prepare, create_wheel, test, docker-build, release

chore: fixed border case when capturing output block when streaming chunks
  pluscoder/agents/base.py
  pluscoder/agents/prompts.py
  pluscoder/display_utils.py
  pluscoder/io_utils.py
Due: prepare, create_wheel, test, docker-build, release

chore: stop parsing output block to handle source block properly
  pluscoder/agents/orchestrator.py
  pluscoder/io_utils.py
Due: prepare, create_wheel, test, docker-build, release

chore: generated .pluscoder-config.yml with complete template
  pluscoder/setup.py
Due: prepare, create_wheel, test, docker-build, release

fix mising folder for debug files
  pluscoder/io_utils.py
Due: prepare, create_wheel, test, docker-build, release

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
Due: none

fix: setup entrypoint
  Makefile
  setup.py
Due: none

fix: git validation order
  pluscoder/agents/event/event_handler/git_event_handler.py
  pluscoder/exceptions.py
  pluscoder/main.py
  pluscoder/repo.py
  pluscoder/setup.py
Due: prepare, create_wheel, test, docker-build, release

style: apply ruff suggestions
  pluscoder/main.py
  pluscoder/repo.py
Due: prepare, create_wheel, test, docker-build, release

cicd: optimized cicd to save minutes
  .gitlab-ci.yml
Due: none

Path conditions:
  prepare: any of: pluscoder/**/*, requirements.txt, Dockerfile
  create_wheel: any of: pluscoder/**/*, tests/**/*, requirements.txt
  test: any of: pluscoder/**/*, tests/**/*, requirements.txt
  docker-build: any of: pluscoder/**/*, requirements.txt, Dockerfile
  release: any of: pluscoder/**/*, requirements.txt
