Repository granade-io/pluscoder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare, create_wheel, test, docker-build, release

.gitlab-ci.yml:

image: node:latest

stages:
  - prepare
  - build-wheel
  - test
  - docker-build-push
  - release

variables:
  GIT_DEPTH: "0"
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  DOCKER_TLS_CERTDIR: "/certs"

prepare:
  image: node:latest
  stage: prepare
  before_script:
    - apt-get update && apt-get install -y --no-install-recommends git-core ca-certificates
    - npm install -g semantic-release @semantic-release/gitlab @semantic-release/git @semantic-release/changelog
  script:
    - |
      # (...)
      set +e
      OUTPUT=$(semantic-release --dry-run --no-git-verify)
      echo "$OUTPUT"
      NEXT_VERSION=$(echo "$OUTPUT" | grep "next release version is" | awk '{print $NF}') || true
      echo "NEXT VERSION: ${NEXT_VERSION}"

      echo "NEXT_VERSION=${NEXT_VERSION}" > build.env
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH or $CI_COMMIT_BRANCH == "develop"
      changes:
        - pluscoder/**/*
        - requirements.txt
        - Dockerfile

create_wheel:
  image: python:3.12
  stage: build-wheel
  script:
    - pip wheel tree-sitter-language-pack==0.2.0 --wheel-dir ./wheels
  artifacts:
    paths:
      - ./wheels/*.whl
    expire_in: 4 week
  cache:
    key: 
      files:
        - requirements.txt  # Asume que tienes un archivo de requerimientos
    paths:
      - ./wheels
      - $PIP_CACHE_DIR
    policy: pull-push
  rules:
    - changes:
        - pluscoder/**/*
        - tests/**/*
        - requirements.txt

test:
  image: python:3.12
  stage: test
  cache:
    key: 
      files:
        - requirements.txt
    paths:
      - ./wheels
      - $PIP_CACHE_DIR
    policy: pull
  before_script:
    - python --version
    - pip install --upgrade pip
    - pip install --no-index --find-links=./wheels tree-sitter-language-pack==0.2.0
    - pip install -r requirements.txt
  script:
    - pytest
  rules:
    - changes:
        - pluscoder/**/*
        - tests/**/*
        - requirements.txt

docker-build:
  stage: docker-build-push
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build --build-arg WHEELS_DIR=./wheels -t $CI_REGISTRY_IMAGE:$NEXT_VERSION -t $CI_REGISTRY_IMAGE:latest .
    - docker push $CI_REGISTRY_IMAGE:$NEXT_VERSION
    - docker push $CI_REGISTRY_IMAGE:latest
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH or $CI_COMMIT_BRANCH == "develop"
      changes:
        - pluscoder/**/*
        - requirements.txt
        - Dockerfile
  artifacts:
    paths:
      - ./wheels

release:
  image: node:latest
  variables:
    PYPI_TOKEN: ${CI_JOB_TOKEN}
    PYPI_USERNAME: gitlab-ci-token
    PYPI_REPO_URL: ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi
#     GITLAB_TOKEN: $GITLAB_TOKEN
  stage: release
  before_script:
    - apt-get update && apt-get install -y --no-install-recommends git-core ca-certificates
    - npm install -g semantic-release @semantic-release/gitlab @semantic-release/git @semantic-release/changelog
  script:
    - semantic-release
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - pluscoder/**/*
        - requirements.txt

fix cicd syntax
  .gitlab-ci.yml
Due: none

BREAKING CHANGE: bump to 2.0.0
  .gitlab-ci.yml
Due: none

forcd cicd execution
  pluscoder/agents/base.py
Due: prepare, create_wheel, test, docker-build, release

Feature/better ruff
  .gitignore
  .pre-commit-config.yaml
  .vscode/settings.json
  Makefile
  pluscoder/agents/base.py
  pluscoder/agents/core.py
  pluscoder/agents/event/config.py
  pluscoder/agents/event/event_handler/base.py
  pluscoder/agents/event/event_handler/console_event_handler.py
  pluscoder/agents/event/event_handler/git_event_handler.py
  pluscoder/agents/orchestrator.py
  pluscoder/commands.py
  pluscoder/config.py
  pluscoder/display_utils.py
  pluscoder/fs.py
  pluscoder/io_utils.py
  pluscoder/logs.py
  pluscoder/main.py
  pluscoder/message_utils.py
  pluscoder/model.py
  pluscoder/repo.py
  pluscoder/repomap.py
  pluscoder/setup.py
  pluscoder/state_utils.py
  pluscoder/tools.py
  pluscoder/type.py
  pluscoder/workflow.py
  ruff.toml
  setup.py
  tests/conftest.py
  tests/test_agents/test_base.py
  tests/test_agents/test_orchestrator.py
  tests/test_config.py
  tests/test_fs.py
  tests/test_image_handling.py
  tests/test_repo.py
  tests/test_repomap.py
  tests/test_state_utils.py
  tests/test_tools.py
Due: prepare, create_wheel, test, docker-build, release

chore: commented repomap logic
  tests/test_repomap.py
Due: create_wheel, test

merge
  .pre-commit-config.yaml
  Dockerfile
  Makefile
  PROJECT_OVERVIEW.md
  README.md
  pluscoder/agents/base.py
  pluscoder/agents/event/event_handler/base.py
  pluscoder/commands.py
  pluscoder/config.py
  pluscoder/display_utils.py
  pluscoder/logs.py
  pluscoder/main.py
  pluscoder/repo.py
  pluscoder/setup.py
  ruff.toml
  setup.py
Due: prepare, create_wheel, test, docker-build, release

feat: BREAKING CHANGE
  pluscoder/workflow.py
Due: prepare, create_wheel, test, docker-build, release

feat: a big feature \n\n BREAKING CHANGE: it breaks something
  pluscoder/workflow.py
Due: prepare, create_wheel, test, docker-build, release

BREAKING CHANGE: some breaking change
  pluscoder/workflow.py
Due: prepare, create_wheel, test, docker-build, release

feat: some feat
  pluscoder/workflow.py
Due: prepare, create_wheel, test, docker-build, release

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
Due: none

chore: update changelog and readme usage
  CHANGELOG.md
  README.md
Due: none

drop: dev_requirements.txt
  setup.py
Due: none

change: console_script name and path
  setup.py
Due: none

fix: streaming block parsing
  pluscoder/agents/base.py
  pluscoder/display_utils.py
  pluscoder/io_utils.py
Due: prepare, create_wheel, test, docker-build, release

fix: chunk streaming parsing blocks
  pluscoder/agents/base.py
  pluscoder/io_utils.py
  pluscoder/logs.py
  pluscoder/main.py
Due: prepare, create_wheel, test, docker-build, release

feat: new --show_token_usage flag to display llm cost of the session. Default to true
  README.md
  pluscoder/agents/event/event_handler/console_event_handler.py
  pluscoder/config.py
  pluscoder/display_utils.py
  pluscoder/state_utils.py
  tests/test_state_utils.py
Due: prepare, create_wheel, test, docker-build, release

fix: config template now works without a template file in repo
  pluscoder/setup.py
Due: prepare, create_wheel, test, docker-build, release

feat: new custom_agents config at .pluscoder-config.yml to define agents with customized instructions
  .pluscoder-config-example.yml
  MANIFEST.in
  PROJECT_OVERVIEW.md
  README.md
  pluscoder/agents/__init__.py
  pluscoder/agents/base.py
  pluscoder/agents/core.py
  pluscoder/agents/custom.py
  pluscoder/agents/event/event_handler/console_event_handler.py
  pluscoder/agents/event/event_handler/git_event_handler.py
  pluscoder/agents/orchestrator.py
  pluscoder/commands.py
  pluscoder/config.py
  pluscoder/display_utils.py
  pluscoder/io_utils.py
  pluscoder/main.py
  pluscoder/setup.py
  pluscoder/state_utils.py
  pluscoder/type.py
  pluscoder/workflow.py
Due: prepare, create_wheel, test, docker-build, release

chore: fmt
  pluscoder/io_utils.py
  pluscoder/main.py
  pluscoder/type.py
Due: prepare, create_wheel, test, docker-build, release

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
Due: none

Feature/package
  .gitlab-ci.yml
  Makefile
  pluscoder.spec
  pluscoder/__main__.py
  pluscoder/assets/__init__.py
  pluscoder/assets/model_cost.json
  pluscoder/io_utils.py
  pluscoder/logs.py
  pluscoder/setup.py
  pluscoder/state_utils.py
  requirements-dev.txt
  requirements.txt
Due: prepare, create_wheel, test, docker-build, release

feat: orchestrator now operates in read only mode to focus on task design
  README.md
  pluscoder/agents/base.py
  pluscoder/agents/core.py
  pluscoder/agents/custom.py
  pluscoder/agents/orchestrator.py
  pluscoder/agents/prompts.py
  pluscoder/tools.py
  pluscoder/type.py
Due: prepare, create_wheel, test, docker-build, release

feat: now agents can read files directly from public repositories without requiring raw file urls. Available for Gitlab & Github only
  pluscoder/agents/core.py
  pluscoder/agents/custom.py
  pluscoder/agents/orchestrator.py
  pluscoder/io_utils.py
  pluscoder/logs.py
  pluscoder/main.py
  pluscoder/state_utils.py
  pluscoder/tools.py
  tests/test_tools.py
Due: prepare, create_wheel, test, docker-build, release

update configs
  .env.example
  .gitattributes
  .gitignore
  .gitlab-ci.yml
  .pluscoder-config-example.yml
  .pluscoder-config.yml
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/makefile.code-snippets
  .vscode/settings.json
  CODING_GUIDELINES.md
  MANIFEST.in
  Makefile
  PROJECT_OVERVIEW.md
  README.md
  ROADMAP.md
  pluscoder/type.py
  pluscoder/workflow.py
  ruff.toml
  tests/test_image_handling.py
  tests/test_state_utils.py
Due: prepare, create_wheel, test, docker-build, release

fix: initialization target agents now points all to standard developer
  .pluscoder-config.yml
  pluscoder/agents/base.py
  pluscoder/agents/prompts.py
  pluscoder/model.py
  pluscoder/setup.py
  tests/test_agents/test_base.py
Due: prepare, create_wheel, test, docker-build, release

Resolve "PlusCoder Banner"
  pluscoder/main.py
Due: prepare, create_wheel, test, docker-build, release

chore: proper variable save when creating pluscoder config yml
  pluscoder/setup.py
Due: prepare, create_wheel, test, docker-build, release

fix: improve streaming block parsing with 1 more usecase
  pluscoder/io_utils.py
Due: prepare, create_wheel, test, docker-build, release

feat: add system reminders for agent to improve its output consistency
  pluscoder/agents/base.py
  pluscoder/agents/prompts.py
  pluscoder/fs.py
  tests/test_fs.py
Due: prepare, create_wheel, test, docker-build, release

chore: improved regex matching for finding replace blocks
  pluscoder/agents/base.py
  tests/test_agents/test_base.py
Due: prepare, create_wheel, test, docker-build, release

fix: initialization process now works seamlessly when running pluscoder by the first time
  pluscoder/agents/base.py
  pluscoder/agents/core.py
  pluscoder/agents/custom.py
  pluscoder/agents/orchestrator.py
  pluscoder/config.py
  pluscoder/main.py
  pluscoder/setup.py
  pluscoder/workflow.py
  tests/test_agents/test_base.py
  tests/test_agents/test_orchestrator.py
  tests/test_config.py
Due: prepare, create_wheel, test, docker-build, release

chore: docker builds pluscoder + install.sh
  .dockerignore
  .gitlab-ci.yml
  .pre-commit-config.yaml
  .vscode/extensions.json
  Dockerfile
  Makefile
  install.sh
Due: prepare, docker-build

chore: improve file edition feedback on fail
  pluscoder/fs.py
Due: prepare, create_wheel, test, docker-build, release

feat: auto-commits now commits only updated files
  pluscoder/agents/event/event_handler/git_event_handler.py
  pluscoder/repo.py
  tests/test_repo.py
Due: prepare, create_wheel, test, docker-build, release

feat: new --default_agent allow selection of a default agent to chat with
  README.md
  pluscoder/agents/core.py
  pluscoder/config.py
  pluscoder/main.py
Due: prepare, create_wheel, test, docker-build, release

refactor: agent base now use stream function for streaming chunks instead of streaming events
  pluscoder/agents/base.py
  pluscoder/agents/orchestrator.py
  tests/test_agents/test_base.py
Due: prepare, create_wheel, test, docker-build, release
